.splash-container-img{
    margin: auto;
}

.splash-img {
    margin-bottom: 85;
}

.splash-buttons{
    font-size: 12;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 50;
}

.splash-signup {
    background-color: #006FFF;
}
