@import  '../settings/_settings.global';


.c-primary-button{
    font-size: 12;
    font-weight: bold;
    text-transform: none;
	height:50;
}

.c-primary-button-delete{
    background-color: #f92323;
}

.c-button-spacer{
    margin-bottom: 15;
}