@import  '../settings/_settings.global';

.splash-container-img{
    margin: auto;
}

.splash-img {
    margin-bottom: 85;
}


.splash-signup {
    background-color: #006FFF;
}

.splash-signup:highlighted{
    background-color: rgb(23, 86, 168);
}
