@import  '../settings/_settings.global';

.c-weathercards--title{
    font-size: 18;
    font-weight: bold;
    color: black;
    padding-top: 20;
}

.c-weathercards--border{
    border-color: white;
    border-width: 0 15 15 15;
}

.c-weathercards--border--account{
    border-color: white;
    border-width: 15 15 15 15;
}

