@import  '../settings/_settings.global';


.c-primary-button{
    font-size: 15;
    font-weight: bold;
    text-transform: none;
	height:50;
}

.c-primary-button:highlighted{
    background-color: #49bb5c;
}

.c-primary-button-delete{
    background-color: #f92323;
}

.c-primary-button-delete:highlighted{
    background-color: #e04444;
}

.c-button-spacer{
    margin-bottom: 15;
}