@import  '../settings/_settings.global';

.c-button{

}

.c-primary-button{
    background-color: #4CD964;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-size: 13px;
    font-weight: bold; 
    color: $white;
}