@import  '../settings/_settings.global';

.c-card{
    z-index: 2;
    width: 90%;
    height: 175px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

.c-card > *:not(:first-child){
    
    width: 90%;
}

.c-card--input{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.c-card--title{
    margin-bottom: 0px !important;
}