@import  '../settings/_settings.global';

.c-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.c-header__locations{

}

.c-button-primary{
    
}