@import  '../settings/_settings.global';


.c-card--item{
    margin-left: 20;
    margin-right: 20;
}

.c-card--title{
    text-align:center;
    color:black;
    font-size:16;
    font-weight: bold;
}