@import  '../settings/_settings.global';

.c-locations{

}

.c-weather-card{
    background-color: #13a1e2;
    width: 328px;
    height: 200px;
}

.c-weather-card--online{

}

.c-weather-card--offline{

}

.c-weather-card-info{

}

.c-weather-card-info__location{

}

.c-weather-card-info__icon{

}

.c-weather-card-info__region{

}

.c-weather-card-results{

}

.c-weather-card-results__temperature{

}

.c-weather-card-results__rain{

}

.c-weather-card-results__wind{

}

