@import  '../settings/_settings.global';

.c-button{
    -webkit-appearance: none;
    width: 100%;
}

.c-primary-button{
    background-color: #4CD964;
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: bold; 
    color: $white;
}

.c-primary-button--weathercards{
    width: 140px;
}