.splash-container-img{
    margin: auto;
}

.splash-img {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}



.splash-container-buttons{
    margin-bottom: 50px;
}

.splash-container-buttons > *{
    margin-bottom: 10px;
}

.splash-container-buttons > div > button{
    width: 70vw !important;
}

