.splash-container-img{
    margin: auto;
}

.splash-img {
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}



.splash-container-buttons{
    margin-bottom: 50px;
    width: 90vw;
}

.splash-button-signup > button {
    background-color: #006FFF !important;
}

.splash-container-buttons > *{
    margin-bottom: 10px;
}



